@font-face {
    font-family: 'mtgFont';
    src: url('../fonts/beleren-bold_P1.01.ttf') format('truetype'),
    url('../fonts/beleren-boldP101.woff') format('woff');
}

.clr {
    clear: both;
}

html, body {
    font-family: 'mtgFont';
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main_content {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_content h3 {
    padding: 30px;
    font-size: 36px;
}

.column {
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.player_name {
    width: 100%;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    background-color: #333;
    color: #eee;
}

.button {
    width: 100px;
    height: 70px;
    background-color: #333;
    color: #eee;
    border-width: 0;
    font-size: 30px;
    font-family: inherit;
}

.button:hover {
    background-color: #444;
}

@media(max-width: 800px) {
    .button {
        width: 50%;
    }

    .main_content h3 {
        padding: 15px;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px){
    .main_content h3 {
        float: left;
    }
}
