body {
    touch-action: manipulation;
}

.hidden_item {
    display: none;
}

.main_content {
    margin: 0;
    padding: 0;
    height: 100%;
}

.column {
    float: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.column_50 {
    width: 50%;
}
.column_33 {
    width: 33%;
}
.column_17 {
    width: 17%;
}

.player_life, .player_poison {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.player_poison {
    color: white;
}

.button {
    height: 50%;
    position: fixed;
    background-color: #333;
    color: #eee;
    border-width: 0;
    font-size: 30px;
    font-family: inherit;
    opacity: 0.1;
}
.button_50 {
    width: 50%;
}
.button_33 {
    width: 33%;    
}
.button_17 {
    width: 17%;
}

.poison_toggle {
    height: 64px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
}

.undo_button {
    height: 64px;
    position: fixed;
    top: 95%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
}

#search_button {
    height: 64px;
    position: fixed;
    top: 5%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
}

.dice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#d6 {
    width: 76px;
    height: 76px;
}

.button:hover {
    background-color: #444;
}

@media (min-aspect-ratio: 1/1) {
    .p1.player1.button_50, .p1.player1.button_33, .p1.player1.button_17 {
        top: 0;
        left: 0;
    }
    
    .m1.player1.button_50, .m1.player1.button_33, .m1.player1.button_17 {
        top: 50%;
        left: 0;
    }
    
    .p1.player2.button_50, .p1.player2.button_33 {
        top: 0;
        left: 50%;
    }
    
    .m1.player2.button_50, .m1.player2.button_33 {
        top: 50%;
        left: 50%;
    }
    
    .p1p.player1.button_17 {
        top: 0;
        left: 33%;
    }
    .m1p.player1.button_17 {
        top: 50%;
        left: 33%;
    }
    .p1p.player2.button_17 {
        top: 0;
        left: 83%;
    }
    .m1p.player2.button_17 {
        top: 50%;
        left: 83%;
    }
}

@media (max-aspect-ratio: 1/1) {
    .button_50 {
        width: 100%;
        height: 25%;
    }
    .button_33 {
        width: 66%;
        height: 25%;
    }
    .button_17 {
        width: 34%;
        height: 25%;
    }
    
    .button_50, .button_33 {
        left: 0;
    }
    .p1.player1, .p1p.player1 {
        top: 25%;
    }
    .m1.player1, .m1p.player1 {
        top: 0;
    }
    .p1.player2, .p1p.player2 {
        top: 50%;
    }
    .m1.player2, .m1p.player2 {
        top: 75%;
    }
    .p1p, .m1p {
        left: 66%;
    }

    .column > .player1 {
        transform: scale(-1, -1);
    }
    
    .column_50 {
        width: 100%;
        display: block;
        height: 50%;
        overflow: auto;
    }
    .column_33 {
        width: 66%;
        display: block;
        height: 50%;
        overflow: auto;
    }
    .column_17 {
        width: 34%;
        display: block;
        height: 50%;
        overflow: auto;
    }
    .player_life {
        margin: 10px;
    }
}