body {
    touch-action: manipulation;
}

.hidden_canvas_images {
    display: none;
}

.main_content {
    margin: 0;
    padding: 0;
    height: 100%;
}

.column {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.player_life {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    width: 50%;
    height: 50%;
    position: fixed;
    background-color: #333;
    color: #eee;
    border-width: 0;
    font-size: 30px;
    font-family: inherit;
    opacity: 0.1;
}

.dice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#d6 {
    width: 76px;
    height: 76px;
}

.p1.player1 {
    top: 0px;
    left: 0px;
}

.m1.player1 {
    top: 50%;
    left: 0px;
}

.p1.player2 {
    top: 0px;
    left: 50%;
}

.m1.player2 {
    top: 50%;
    left: 50%;
}

.button:hover {
    background-color: #444;
}

@media (max-aspect-ratio: 1/1) {
    .button {
        width: 100%;
        height: 25%;
    }
    
    .p1.player1 {
        top: 0px;
        left: 0px;
    }
    
    .m1.player1 {
        top: 25%;
        left: 0%;
    }
    
    .p1.player2 {
        top: 50%;
        left: 0%;
    }
    
    .m1.player2 {
        top: 75%;
        left: 0%;
    }
    
    .column {
        width: 100%;
        display: block;
        height: 50%;
        overflow: auto;
    }
    .player_life {
        margin: 10px;
    }
}