
#intro {
    box-sizing: border-box;
    width: 100%;
    padding: 4%;

    text-align: center;
    background-color: #333;
    color: #eee;
}

#selection_menu {
    box-sizing: border-box;
    padding: 6%;

    text-align: center;
    color: #eee;
}

.option {
    display: block;
    padding: 20px;
    width: 100px;
    margin: 20px auto;

    text-align: center;

    background-color: #222;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.option:hover {
    background-color: #444;
}

#selection_menu a {
    text-decoration: none;
    color: inherit;
}
