
.option {
    display: block;
    padding: 20px;
    width: 200px;
    margin: 20px auto;

    text-align: center;

    background-color: #222;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);

    color: white;
    font-size: 20px;
}

.option:hover {
    background-color: #444;
}

#card-entry {
    text-align: center;
}

#card-entry > img {
    display: block;
    width: 480px;
    margin: auto;
}